# ===== Core AI =====
paddlepaddle==2.6.2
paddleocr==2.7.3

ultralytics==8.0.226
torch==2.1.2
torchvision==0.16.2

# ===== Computer Vision =====
opencv-python==4.6.0.66
numpy>=1.24,<2.0
scipy==1.15.3
scikit-image==0.25.2
shapely==2.1.2

# ===== Data =====
pandas==2.3.3
matplotlib==3.10.8

# ===== Utilities =====
Pillow==12.1.1
requests==2.32.5
tqdm==4.67.3
PyYAML==6.0.3
visualdl==2.5.3
pyodbc==5.3.0